@font-face {
    font-family: 'Fixel Display';
    src: url('../font/FixelDisplay-Bold.woff2') format('woff2'),
        url('../font/FixelDisplay-Bold.woff') format('woff'),
        url('../font/FixelDisplay-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Fixel Display';
    src: url('../font/FixelDisplay-Medium.woff2') format('woff2'),
        url('../font/FixelDisplay-Medium.woff') format('woff'),
        url('../font/FixelDisplay-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Fixel Display';
    src: url('../font/FixelDisplay-Regular.woff2') format('woff2'),
        url('../font/FixelDisplay-Regular.woff') format('woff'),
        url('../font/FixelDisplay-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Fixel Display';
    src: url('../font/') format('woff2'),
        url('../font/FixelDisplay-ExtraLight.woff') format('woff'),
        url('../font/FixelDisplay-ExtraLight.ttf') format('truetype');
    font-weight: 200;
    font-style: normal;
    font-display: swap;
}

html {
    font-size: 0.5px;
}

* {
    margin: 0;
    padding: 0;
}

body {
    cursor: url("/img/aplecors"), auto;
}

body,
p,
ul,
h1,
h2,
a {
    font-family: 'Fixel Display';
    margin: 0;
}

h2 {
    font-size: 42rem;
    font-weight: 500;
}

.info {
    display: flex;
}

.namer {
    padding: 55 0rem;
}

.logo img {
    width: 100%;
    max-width: 140px;
}

.foot-logo img {
    width: 100%;
    max-width: 140px;
}

.wrapper {
    width: 90%;
    max-width: 1720rem;
    padding: 0 15px;
    margin: 0rem auto;
}

.wrapper1 {
    width: 90%;
    max-width: 850rem;
    padding: 0 15px;
    margin: 0rem auto;
}

.dark-bgc {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.42);
    backdrop-filter: blur(4px);
    z-index: 1;
}

.cancel {
    position: absolute;
    left: 90%;
    top: 0%;
    z-index: 3;
    font-size: 60rem;
}

.sociall {
    display: flex;
    align-items: center;
    gap: 25rem;
    cursor: url("/img/aplecotcebtn"), pointer;
}

.AirPods {
    border-top: 2px solid black;
}

.visionpro {
    border-top: 2px solid black;
}

.Macbook {
    border-top: 2px solid black;
}

.info {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(4, 1fr);

}

.info h2 {
    font-weight: 200;
    text-transform: uppercase;
    padding: 0 0 40rem 0;
}

.info span {
    font-weight: 500;
    text-transform: uppercase;

}

.main,
ul,
a {
    gap: 30rem;
    text-decoration: none;
    list-style: none;
    color: #171717;
    cursor: url("/img/aplecotcebtn"), pointer;
}

.swap {
    font-size: 20rem;
    display: block;
    transition: .5s;
}

.menu {
    position: fixed;
    left: -100%;
    top: 0;
    gap: 20px;
    height: 100vh;
    width: 70vw;
    z-index: 3;
    display: flex;
    flex-direction: column;
    align-items: top;
    padding: 50rem 15px;
    background-color: #ffffffea;
    transition: 1s;

}

.menu a {
    border-bottom: 3px solid black;
    font-size: 50rem;
}

.burger span {
    display: block;
    height: 7rem;
    background-color: #000000;
    margin: 3rem 0;
    border-radius: 5rem;
}

.br1 {
    width: 40rem;
}

.br2 {
    width: 30rem;
}

.br3 {
    width: 20rem;
}

.header {
    background: #fff;
}

.head {
    padding: 20rem 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.main-catalog {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 60rem;
    color: rgba(255, 255, 255, 1);
    background-color: #2D2D2D;
    font-size: 20rem;
    overflow: scroll;

}

.cance {
    position: absolute;
    left: 90%;
    top: 0%;
    z-index: 3;
    font-size: 60rem;
}

.main-catalog svg {
    display: none;
}

svg {
    display: inline-block;
    transition: .5s;
}

.a {
    transition: .5s;
    color: rgba(255, 255, 255, 1);
    display: inline-block;
    cursor: url("/img/aplecotcebtn"), pointer;
    padding: 0 10rem 0 0;
}

.name {
    position: relative;
    align-items: center;
    background: rgba(23, 23, 23, 1);
    height: 60vh;
    padding: 100rem 0 0 0;
    margin: 0 auto;
    font-weight: 200;
    overflow: hidden;
}

.name p,
h1 {
    font-size: 28rem;
    color: rgba(255, 255, 255, 1);
}

h1 {
    font-weight: 200;
    font-size: 72rem;
    text-transform: uppercase;
}

h1 span {
    font-weight: 500;
}

.namep {
    padding: 50rem;
}

.btn-shopwhite {
    font-size: 30rem;
    color: #fff;
    display: inline-block;
    padding: 11.5rem 61.29rem;
    text-align: center;
    border-radius: 5rem;
    border: 1rem solid #ffffff;
    transition: .5s;
    cursor: url("/img/aplecotcebtn"), pointer;
}

.p {
    padding: 0 0 60rem 0;
}

.iphon17top {
    width: 70vw;
}

.btn-shopblack {
    font-size: 30rem;
    color: rgba(23, 23, 23, 1);
    display: inline-block;
    padding: 11.5rem 61.29rem;
    text-align: center;
    border-radius: 5rem;
    border: 1rem solid rgba(23, 23, 23, 1);
    transition: .5s;
    cursor: url("/img/aplecotcebtn"), pointer;
}

.boton {
    padding: 40rem 0 0 0;
}

.imageplay {
    width: 100%;
    max-width: 300rem;
}

.textps {
    font-size: 18rem;
    flex-direction: column;
    padding: 0 5rem 0 0;
    text-align: center;
}

.PlayStation {
    display: flex;
    align-items: center;
    background: #ffffff;
}

.imageair {
    width: 100%;
    max-width: 200rem;
}

.textair {
    font-size: 18rem;
    flex-direction: column;
    text-align: center;
}

.AirPods {
    display: flex;
    align-items: center;
    background: #F1F1F1;
}

.imagevis {
    width: 100%;
    max-width: 200rem;
    padding: 0 15rem 0 0;

}

picture img .textvis {
    font-size: 18rem;
    flex-direction: column;
    text-align: center;
}

.visionpro {
    display: flex;
    align-items: center;
    background: #CACACA;
}

.imagemac {
    width: 100%;
    max-width: 300rem;


}

.textmac {
    padding: 0 0 0 67rem;
    font-size: 18rem;
    width: 100%;
    max-width: 300rem;
    flex-direction: column;
    align-items: center;
}

.Macbook {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #F1F1F1;
}

.textps h2 {
    font-size: 38rem;
}

.textmac h2 {
    font-size: 38rem;
}

.textair h2 {
    font-size: 38rem;
}

.textvis h2 {
    font-size: 38rem;
}

.iphon {
    position: absolute;
    bottom: -10rem;
    left: 50%;
    transform: translatex(-50%);
}

.iphon>picture {
    position: relative;
    z-index: 1;
}

.sp {
    position: relative;
    display: none;
}

.popup {
    position: fixed;
    left: -110%;
    top: 50%;
    z-index: 1000;
    width: 450rem;
}

.popup-content {
    background: white;
    border-radius: 10px;
    width: 100%;
    max-width: 515rem;
    padding: 25px;
    box-sizing: border-box;
}

.conlog {
    padding: 25rem 0 20rem 0;
}

.consin2 {
    padding: 20rem 0 20rem 0;
}

.forgot {
    display: block;
    padding: 15rem 0 30rem 0;
}

.close {
    position: absolute;
    right: -20%;
    top: -15%;
    font-size: 28px;
    align-items: center;
    text-align: center;
    background-color: #FFFFFF;
    border-radius: 50%;
    width: 40px;
    height: 40px;
}

.tabs {
    display: flex;
    gap: 10px;

}

.tabs a {
    width: 50%;
    padding: 12px;
    text-align: center;
    text-decoration: none;
    color: #000000;
    font-size: 20rem;
    border: 1px solid #333;
    border-radius: 5px;
}

.tabs a.active {
    background: #171717;
    color: white;
    font-size: 20rem;
}

.btn-log {
    font-size: 30rem;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgba(255, 255, 255, 1);
    background: rgba(23, 23, 23, 1);
    padding: 18rem;
    border-radius: 5rem;
    cursor: url("/img/aplecotcebtn"), pointer;
    width: 100%;
    box-sizing: border-box;
}

.logled {
    font-weight: 400;
    font-size: 18rem;
    padding: 0 0 10rem 0;
    text-decoration: none;
}

.forgot {
    font-weight: 400;
    font-size: 16rem;
    text-decoration: underline;
    color: #9F9F9F;
}

.conlog input,
.conlog1 input {
    padding: 0 0 0 20rem;
}

.know {
    font-weight: 400;
    font-size: 18rem;
    padding-bottom: 10rem;
}

.pictex {
    display: flex;
    text-align: left;
    align-items: center;
    gap: 25rem;
}

.consin {
    padding-bottom: 20rem;
}

.consin1 {
    padding-bottom: 30rem;
}

.form {
    display: none;
}

.form.active {
    display: block;
}

.form label {
    display: block;
}

.form input {
    width: 100%;
    height: 40px;
    border: 1px solid #9F9F9F;
    padding: 0 0 0 20rem;
    border-radius: 5px;
    box-sizing: border-box;
}

.spann {
    position: absolute;
    display: block;
    bottom: 0;
    width: 200rem;
    height: 200rem;
    border-radius: 50%;
    z-index: 0;
    transform: translate(-50%);
}

.orang {
    left: 20%;
    background-color: orange;
    box-shadow: 0 0 500rem 100rem orange;
}

.witte {
    left: 80%;
    background-color: rgb(255, 255, 255);
    box-shadow: 0 0 500rem 100rem rgb(255, 255, 255);
}

.textname {
    text-align: center;
}

.clas {
    display: flex;
    gap: 30rem;
    padding: 30rem 0rem;
}

.catalog figure {
    background: #F1F1F1;
    border-radius: 8rem;
    text-align: center;
    padding: 27rem 24rem 38rem;
    margin: 0;
    transition: .5s;
    cursor: url("/img/aplecotcebtn"), pointer;
}

.catalog figcaption {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

.slash {
    color: #9F9F9F;
}

picture {
    display: inline-block;
    min-height: 150rem;
}

.catalog img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.product {
    padding: 0 15rem;
}

.catalog {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20rem;
    padding: 0 15rem 70rem;
}

.pr {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20rem;
}


figure h2 {
    padding: 0 30rem 0 25rem;
    font-weight: 500;
    font-size: 24rem;
}

.hurd {
    position: relative;
}

.serc {
    position: absolute;
    left: 90%;
    width: 25rem;
    height: 20rem;
}

.price {
    text-align: center;
    font-weight: Bold;
    font-size: 30rem;
    padding: 20rem 0;
}

.price-50 {
    color: #9F9F9F;
    font-size: 20rem;
    text-decoration: line-through;
}

.under {
    text-decoration: underline;
    font-size: 24rem;
    color: #171717;
}

.top {
    font-size: 24rem;
    color: #9F9F9F;
    transition: .5s;
    border: 4rem solid transparent;
}

.activee {
    color: #171717;
    text-decoration: underline;
}

.btnbynow {
    font-size: 24rem;
    text-align: center;
    display: block;
    color: #fff;
    background: #171717;
    padding: 18rem;
    border-radius: 5rem;
    border: 1rem solid #171717;
    transition: .5s;
    cursor: url("/img/aplecotcebtn"), pointer;
}

.category {
    padding: 100rem 15rem;
}

.product {
    padding: 15rem;
}

.min50 {
    padding: 0 0 100rem 0;
}

.min50 h2 {
    padding: 15rem 0 40rem 15rem;
}

.categ {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding: 37rem 0 0 0;
}

.btn-categ {
    text-align: center;
    display: block;
    color: #171717;
    padding: 39rem 10rem;
    border-radius: 5rem;
    font-size: 22rem;
    font-weight: 400;
    background-color: #F1F1F1;
    transition: .5s;
    box-sizing: border-box;
    cursor: url("/img/aplecotcebtn"), pointer;
}

.winter-sale {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 40vh;
    background-image: radial-gradient(rgba(0, 0, 0, 1), rgba(40, 40, 40, 1));
    margin-bottom: 96rem;
    position: relative;
}

.texwin {
    display: flex;
    z-index: 1;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.foniph {
    position: absolute;
    bottom: 0rem;
    left: 20%;
    transform: translatex(-50%);
    z-index: 0;
    display: none;
}

.fonipa {
    position: absolute;
    left: 85%;
    transform: translatex(-50%);
    z-index: 0;
    display: none;
}

.wintr {
    font-weight: 200;
    text-transform: uppercase;
    font-size: 72rem;
    padding: 60rem;
    color: rgba(255, 255, 255, 1);
}

.wintr span {
    font-weight: 500;
}

.foot-logo {
    padding: 40rem 0rem 30rem;
}

.footer {
    width: 100%;
    display: flex;
    justify-content: space-between;
    background: #171717;
    flex-wrap: wrap;
}

.footer p {
    font-size: 18rem;
}

.foottext {
    max-width: 400rem;
    width: 100%;
    color: #9F9F9F;
}

.social {
    display: flex;
    align-items: center;
    gap: 30rem;
    padding: 50rem 0 25rem 0;
    transition: .5s;
}

.social img {
    width: 100%;
    max-width: 17px;
}

.serme {
    color: #9F9F9F;
}

.policy {
    color: #ffffff;
    text-decoration: underline;
    font-size: 18rem;
    transition: .5s;
    display: inline-block;
    cursor: url("/img/aplecotcebtn"), pointer;
}

.serv {
    font-weight: 400;
    padding: 0 0 30rem 0;
    font-size: 28rem;
    color: #fff;
}

.year {
    padding: 26rem 0 39rem 0;
    color: rgba(255, 255, 255, 1);
    background-color: #171717;
    text-align: center;
    font-size: 20rem;
}

.btn-price {
    font-size: 24rem;
    text-align: center;
    color: rgba(23, 23, 23, 1);
    padding: 18rem;
    border-radius: 5rem;
    border: 1rem solid rgba(241, 241, 241, 1);
}

.cata-log {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20rem;
}

.baton-filter {
    display: inline;
}

.servicesmenu {

    display: grid;
    gap: 24rem;
}

.assistancemenu {
    display: grid;
    gap: 24rem;
}

.assistance {
    padding: 40rem 0 0 0;
}

.service {
    padding: 40rem 0 0 0;
}

.btn-dark {
    font-size: 24rem;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgba(255, 255, 255, 1);
    background: rgba(23, 23, 23, 1);
    padding: 18rem;
    border-radius: 5rem;
    cursor: url("/img/aplecotcebtn"), pointer;
    width: 100%;
    box-sizing: border-box;
}

.btn-white {
    font-size: 24rem;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgba(23, 23, 23, 1);
    padding: 18rem;
    border-radius: 5rem;
    border: 1rem solid rgba(23, 23, 23, 1);
    cursor: url("/img/aplecotcebtn"), pointer;
    width: 100%;
    box-sizing: border-box;
}

.flax-between {
    display: flex;
    justify-content: space-between;
}

.flax-centr {
    display: flex;
    justify-content: center;
}

.item-centr {
    display: flex;
    align-items: center;
}

.flax-centre {
    flex-direction: column;
}

.socialm {
    transition: .5s;
}

.li {
    transition: .5s;
    display: flex;
    align-items: center;
}

.serme {
    display: inline-block;
    transition: .5s;
    font-size: 18rem;
    cursor: url("/img/aplecotcebtn"), pointer;
}


.fastmove {
    transition: .5s;
}

.li:hover>svg {
    transform: rotate(180deg);
}

.catalog figure:hover {
    scale: 1.035;
    box-shadow: 0 0 5rem 3rem rgba(22, 22, 22, .2);
}

.btnbynow:hover {
    background-color: #F1F1F1;
    color: #171717;
    border: 1rem solid #171717;
}

.a:hover {
    transform: scale(1.09);

}

.top:hover {
    color: #171717;
    border-bottom: 2rem solid #171717;
}

.swap:hover {
    transform: scale(1.4);
}

.fastmove:hover {
    transform: scale(1.3);
}

.btn-shopwhite:hover {
    transform: scale(1.1);
    box-shadow: 0 0 5rem 3rem rgba(255, 255, 255, 0.4);
    background: #ffffff;
    color: #171717;
}

.btn-shopblack:hover {
    transform: scale(1.1);
    box-shadow: 0 0 5rem 3rem rgba(0, 0, 0, 0.5);
    background: #171717;
    color: #F1F1F1;
}

.btn-categ:hover {
    transform: scale(1.08);
    background: #171717;
    color: #CACACA;
    box-shadow: 0 0 5rem 3rem rgba(0, 0, 0, 0.6);
}

.socialm:hover {
    transform: scale(1.3);
}

.serme:hover {
    color: #fff;
    transform: scale(1.2);
}

.policy:hover {
    transform: scale(1.1);
}



.filter {
    display: block;
}

.vibor li {
    padding: 7.5px 0;
}

.vibor a {
    font-size: 20rem;
}

.setings {
    font-size: 20rem;
    display: flex;
    gap: 10rem;
}

.vibor h2 {
    font-size: 28rem;
    font-weight: 600;
}

.cata-log figure {
    background: #F1F1F1;
    border-radius: 8rem;
    text-align: center;
    padding: 27rem 24rem 38rem;
    margin: 0;
    transition: .5s;
    cursor: url("/img/aplecotcebtn"), pointer;
}

.cata-log {
    grid-template-columns: repeat(2, 1fr);
}

.cata-log figcaption {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

picture {
    display: inline-block;
    min-height: 150rem;
}

.cata-log img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.popup .lebfl {
    display: flex;
    align-items: center;
    gap: 15rem;
    padding-bottom: 15rem;
}

.lebfl p {
    font-size: 18rem;
    font-weight: 400;
}

.lebfl input {
    appearance: none;
    width: 22px;
    height: 22px;
    border: 1px solid #9F9F9F;
    border-radius: 3px;
    cursor: pointer;
}

.lebfl input:checked {
    background: #000000;
    border: #000000;
}

.spbran {
    color: #9F9F9F;
}

.seeall {
    color: #9F9F9F;
    text-decoration: underline;
}

.class {
    padding-bottom: 40rem;
    border-bottom: 1px solid #f1f1f1;
}

.class h2 {
    padding-bottom: 20rem;
}

.baton-filter {
    display: flex;
    flex-direction: column;
    gap: 10rem;
}

.filmen {
    display: flex;
    align-items: center;
    padding: 20rem 0;
    width: 25px;
    height: 20px;
}

.filmen p {
    font-size: 30rem;
}

.vibor {
    position: fixed;
    left: -100%;
    top: 0;
    gap: 20px;
    height: 100vh;
    width: 80vw;
    z-index: 3;
    display: flex;
    flex-direction: column;
    align-items: top;
    padding: 50rem 15px;
    background-color: #ffffffea;
    transition: 1s;
    overflow-x: scroll;
    box-sizing: border-box;
}

.pricemin {
    display: flex;
    gap: 15px;
}

.pricemin input {
    appearance: none;
    width: 100%;
    height: 50rem;
    border: 1px solid #F1F1F1;
    border-radius: 5px;
    text-align: center;
}

.pricemin placeholder {
    color: #9F9F9F;
    font-size: 24rem;
}

.pages {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
    padding: 40px 0 100rem 0;
}

.numberpag {
    display: flex;
}

.numberpag a {
    font-size: 24rem;
}


.towbask {
    display: grid;
    gap: 40rem;
    padding-bottom: 100rem;
}

.conkupib {
    display: flex;
    justify-content: center;
    width: 100%;
}

.kupib {
    display: flex;
    justify-content: center;
    height: 100%;
    max-height: 580rem;
    width: 100%;
    padding: 50rem;
    border-radius: 10px;
    border: 1px solid #333;
    flex-direction: column;
}

.primo-con {
    padding: 30rem 0 25rem 0;
}

.prices {
    padding: 30rem 0 40rem 0;
}

.h3bask {
    font-weight: 500;
    font-size: 18rem;
    padding-bottom: 20rem;
}

.pbask {
    font-weight: 500;
    font-size: 14rem;
    color: #9F9F9F;
}

.pbask2 {
    padding-bottom: 15rem;
}

.spanba {
    color: #171717;
}

.bskpr {
    font-weight: 600;
    font-size: 30rem;
    color: #171717;
}

.towar {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
}

.prod {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: space-between;
    background-color: #F1F1F1;
    border-radius: 8px;
    padding: 30rem;
    position: relative;
}

.num {
    width: 25rem;
    text-align: center;
    outline: none;
    border: none;
    background: transparent;
}

.plu,
.min {
    display: flex;
    color: #9F9F9F;
    width: 30rem;
    height: 24rem;
    background-color: transparent;
    border: 1px solid #9F9F9F;
    border-radius: 3px;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: .5s;
}

.plu:hover,
.min:hover {
    transform: scale(1.2);
    border: 1px solid #171717;
}

.kupih1 {
    font-weight: 500;
    font-size: 28rem;
    color: #171717;
    text-transform: none;
}

.promo {
    font-weight: 400;
    font-size: 18rem;
    color: #171717;
    padding-bottom: 10rem;
}

.prih2 {
    font-weight: 500;
    font-size: 24rem;
}

.prih2cin {
    font-weight: 600;
    font-size: 26rem;
}

.pripcin {
    font-weight: 500;
    font-size: 24rem;
}

.prip {
    font-weight: 400;
    font-size: 18rem;
    color: #9F9F9F;
}

.kupib input {
    outline: none;
    width: 92%;
    padding: 20rem;
    border-radius: 5px;
    border: 1px solid #9F9F9F;
}

.kupib input::placeholder {
    font-weight: 400;
    font-size: 18px;
    color: #9F9F9F;
    align-items: center;
    border-radius: 5px;
}

.kilkist {
    display: flex;
    gap: 15rem;
    align-items: center;
}

.metodspa .crest {
    position: absolute;
    left: 88%;
    top: 10%;
    transition: .5s;
}

.crest:hover {
    transform: rotate(180deg) scale(1.2);
}

.contprise {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.con1 {
    padding: 30rem 0 20rem 0;
}

.con2 {
    padding-bottom: 30rem;
}

.btn-order {
    font-size: 24rem;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgba(255, 255, 255, 1);
    background: rgba(23, 23, 23, 1);
    padding: 18rem;
    border-radius: 5rem;
    cursor: url("/img/aplecotcebtn"), pointer;
    width: 100%;
    border: 1px solid transparent;
    box-sizing: border-box;
    transition: .5s;
}

.btn-order:hover {
    background-color: #F1F1F1;
    color: #171717;
    border: 1rem solid #171717;
}

.blog {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 40rem;
    padding: 0 0 100rem 0;
    width: 100%;
    max-width: 1140rem;
}

.photku .blog h2 {
    font-size: 24rem;
    font-weight: 500;
    padding: 0 0 10rem 0;
}

.blog p {
    font-size: 18rem;
    font-weight: 400;
}

.knopka {
    font-size: 18rem;
    display: flex;
    gap: 30rem;
    padding: 20rem 0 30rem 0;
}

.textblog img {
    padding: 0 0 20rem;
}

.textblog a {
    font-size: 20rem;
    color: rgba(159, 159, 159, 1);
    padding: 0 10rem 0 0;
}

.ridmore {
    align-items: center;
}

.conkupib .textblog {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: space-between;
}

.activ {
    color: #171717;
    font-weight: 600;
}

.kn {
    color: rgba(159, 159, 159, 1);
    font-weight: 400;
}

.date {
    color: rgba(159, 159, 159, 1);
    font-weight: 500;
    font-size: 18rem;
}



.menu a {
    border: none;
    font-size: 27rem;
}

.textblog img {
    width: 100%;
}

.aboutus {
    display: grid;
    grid-template-columns: 1fr, 1fr;
    gap: 71rem;
    padding: 0 0 100rem 0;
}

.imbest {
    padding: 0 0 50rem 0;
    text-align: center;
}

.img {
    width: 100%;
    border-radius: 10px;
}

.textus {
    width: 100%;
}

.img picture img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.hed {
    padding: 0 0 50rem 0;
}

.minih2 {
    padding: 0 0 30rem;
    font-size: 24rem;
}

.hedh2 {
    padding: 0 0 20rem 0;
    font-size: 42rem;
    color: #000000;
    font-weight: 500;
}

.textus p {
    font-size: 18rem;
}

.whyme {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 20px;
    padding: 0 0 100rem 0;
}

.whyme h2 {
    font-size: 24rem;
    padding: 0 0 30rem 0;
}

.whyme p {
    color: rgba(159, 159, 159, 1);
    font-size: 18rem;
}

.original {
    display: inline-block;
    background-color: rgba(241, 241, 241, 1);
    padding: 42rem 46rem 62rem 47rem;
    border-radius: 8rem;
    align-items: center;
    justify-content: center;
}

.expert {
    display: inline-block;
    background-color: rgba(241, 241, 241, 1);
    padding: 42rem 46rem 62rem 47rem;
    border-radius: 8rem;
    align-items: center;
}

.speed {
    display: inline-block;
    background-color: rgba(241, 241, 241, 1);
    padding: 42rem 46rem 62rem 47rem;
    border-radius: 8rem;
    align-items: center;
}

.infocon h2 {
    font-size: 24rem;
    font-weight: 500;
    color: #000000;
}

.infocon h1 {
    font-size: 24rem;
    font-weight: 500;
    color: #000000;
}

.infocon p {
    font-size: 18rem;
    font-weight: 400;
}

.inp {
    padding: 20rem 0 35rem 0;
}

.colip {
    display: flex;
    align-items: center;
    padding: 20rem 0 0 0;
}

.roztash {
    position: relative;
    width: 100%;
    min-height: 500rem;
    overflow: hidden;
    border-radius: 10px;
    padding-top: 72px;
    transform: translateY(36px);
}

iframe {
    position: absolute;
    width: 100%;
    height: 100%;
    top: -72px;
    left: 0;
}

.colip a {
    padding: 0 8px 0 0;

}


.inpord .infocon {
    display: grid;
    grid-template-columns: 1fr;
    gap: 40rem;
    width: 100%;
    margin: 0 auto;
    align-items: center;
    padding: 30rem 0 100rem 0;
}

.textinfo {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20rem;
}



.photku {
    display: grid;
    grid-template-columns: 40% 1fr;
    align-items: center;
    gap: 20px;
}

.tph {
    display: grid;

    gap: 20px;
    height: 100%;
}

.oph {
    width: 100%;
    height: 100%;
}

.kam img {
    background-color: rgba(241, 241, 241, 1);
    border-radius: 8px;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.ekr img {
    background-color: rgba(241, 241, 241, 1);
    width: 100%;
    height: 100%;
    padding: 30rem 0;
    object-fit: cover;
    border-radius: 8px;
}

.conkam {
    width: 100%;
}

.kam,
.ekr {
    width: 100%;
}

.hedpr img {
    background-color: rgba(241, 241, 241, 1);
    width: 100%;
    height: 100%;
    border-radius: 8px;
}

.hedpr {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
}

.neypr {
    font-size: 30rem;
}

.oldpr {
    font-size: 24rem;
    text-decoration: line-through;
    color: rgba(159, 159, 159, 1);
}

.prise {
    display: flex;
    gap: 10rem;
    align-items: center;
    padding: 30rem 0;
}

.selectmem {
    padding: 30rem 0;
}

.opustex {
    padding: 30rem 0;
}

.produckt {
    display: grid;
    grid-template-columns: 1fr;
}

.oph1 {
    font-weight: 500;
    font-size: 42rem;
    color: rgba(23, 23, 23, 1);
    text-transform: none;
}

.colorip {
    display: flex;
    align-items: center;
    gap: 10rem;
}

.colform {
    display: flex;
    gap: 10px;
}

.colform .wite {
    border: 1px solid #000000;
}

.colorip input {
    appearance: none;
    width: 30rem;
    height: 30rem;
    outline: 1px solid rgb(255, 255, 255);
    border-radius: 50%;
    border: 2px solid #ffffff;
}

.blue:checked {
    outline-color: rgba(28, 41, 96, 1);
}

.orange:checked {
    outline-color: rgba(224, 148, 27, 1);
}

.blak:checked {
    outline-color: rgba(23, 23, 23, 1);
}

.wite:checked {
    outline-color: rgb(0, 0, 0);
}

.pink:checked {
    outline-color: rgba(215, 150, 213, 1);
}

.blue {
    background: rgba(28, 41, 96, 1);
}

.orange {
    background: #E0941B;
}

.blak {
    background: rgba(23, 23, 23, 1);
}

.wite {
    background: rgba(255, 255, 255, 1);
    border: 1px solid #000000;
}

.pink {
    background: rgba(215, 150, 213, 1);
}

.opus h2 {
    font-weight: 500;
    font-size: 20rem;
}

.tcon {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 20rem;
    row-gap: 10rem;
}

.tcon h2 {
    font-size: 16rem;
    color: rgba(159, 159, 159, 1);
}

.tcon p {
    font-size: 18rem;
}

.tehnh {
    display: inline-block;
    background-color: rgba(241, 241, 241, 1);
    padding: 23rem 20rem;
    border-radius: 8rem;
    align-items: center;
}

.opustex {
    font-size: 18rem;
}

.butonu {
    display: flex;
    gap: 20rem;
    justify-content: center;
}

.table {
    overflow: scroll;
}

.btnby {
    font-size: 30rem;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgba(255, 255, 255, 1);
    background: rgba(23, 23, 23, 1);
    padding: 22rem 0;
    width: 100%;
    border-radius: 5rem;
}

.btnwish {
    font-size: 30rem;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgba(23, 23, 23, 1);
    padding: 22rem 0;
    width: 100%;
    border-radius: 5rem;
    border: 1rem solid rgba(23, 23, 23, 1);
}

.table h2 {
    padding: 100rem 0 50rem 0;
    text-align: center;
}

.portab {
    width: 100%;
    border-collapse: collapse;
    text-align: center;
    height: 30vh;
}

.portab th,
.portab td {
    border: 1px solid rgba(23, 23, 23, 1);
}

.portab th {
    background: rgba(23, 23, 23, 1);
    border: 1px solid #fff;
    color: #F1F1F1;
    font-size: 28rem;
    font-weight: 600;
    padding: 35rem;
}

.cat {
    font-size: 28rem;
    padding: 20rem 0;
    font-weight: 600;
    background: #ffffff;
    text-align: center;
}

.portab td {
    font-size: 24rem;
    padding: 20rem 30rem;
}

.like h2 {
    text-align: center;
    padding: 100rem 0 50rem 0;
}

.formmem {
    display: flex;
    justify-content: space-between;
}

.mem {
    position: relative;
    display: inline-block;
}

.mem input {
    margin: 0;
    appearance: none;
    outline: none;
    width: 125rem;
    height: 60rem;
    box-sizing: border-box;
    border-radius: 8px;
    border: 1px solid rgba(159, 159, 159, 1);
    background: #fff;
    gap: 20px;
}

.mem span {
    position: absolute;
    top: 50%;
    left: 50%;
    color: rgba(159, 159, 159, 1);
    transform: translate(-50%, -50%);
    font-size: 18rem;
    font-weight: 400;
}

.mem input:checked {
    border-color: #000000;
}

.mem input:checked+span {
    color: #000000;
}

.serc {
    stroke: #F1F1F1;
    fill: transparent;
    transition: .5s;
}

.serc:hover {
    stroke: #000000;
    fill: #000000;
}

.orderh1 {
    font-weight: 500;
    font-size: 24rem;
    color: #171717;
    text-transform: none;
    padding-bottom: 20rem;
}

.orderh2 {
    font-weight: 500;
    font-size: 24rem;
    color: #171717;
    padding-bottom: 20rem;
}

.laborform {
    font-weight: 400;
    font-size: 18rem;
}

.inpord {
    appearance: none;
    width: 100%;
    height: 40px;
    border: 1px solid #9F9F9F;
    padding: 0 20rem 0 20rem;
    border-radius: 5px;
    box-sizing: border-box;
    color: #9F9F9F;
}

.dost-con {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 20rem;
    align-items: center;
    padding-bottom: 30rem;
}

.dost-con label {
    display: flex;
    justify-content: center;
}

.formname {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 20rem;
    padding-bottom: 25rem;
}

.dost {
    position: relative;
    display: inline-block;
    width: 100%;
}

.dost input {
    margin: 0;
    appearance: none;
    outline: none;
    width: 100%;
    height: 100rem;
    box-sizing: border-box;
    border-radius: 8px;
    border: 1px solid rgba(159, 159, 159, 1);
    background: #F1F1F1;
    gap: 20px;
}

.dost span {
    position: absolute;
    top: 50%;
    left: 50%;
    color: rgba(159, 159, 159, 1);
    transform: translate(-50%, -50%);
    font-size: 18rem;
    font-weight: 400;
}

.dost input:checked {
    border-color: #000000;
}

.dost img {
    width: 178rem;
    height: 70rem;
}

.dost input:checked+span {
    color: #000000;
}

.metodspan input {
    appearance: none;
    width: 30rem;
    height: 30rem;
    outline: 1px solid #9F9F9F;
    border-radius: 50%;
    border: 2px solid #ffffff;
}

.inpmet {
    appearance: none;
    outline: #9F9F9F;
    border-radius: 50%;
    border: 1px solid #9F9F9F;
}

.inpmet:checked {
    border: 3px solid #ffffff;
    background: #171717;
    outline: 1px solid #171717;
}

.metspan {
    font-weight: 400;
    font-size: 18rem;
}

.textarea {
    width: 91%;
    height: 160rem;
    padding: 20rem 20rem;
    font-size: 18rem;
    border-radius: 5px;
    border: 1px solid #9F9F9F;
    font-family: "Fixel Display", sans-serif;
    resize: none;
}

.conforn {
    position: relative;
}

.svgforn {
    position: absolute;
    left: 90%;
    top: 56%;
    pointer-events: none;
}

.btn-back {
    font-size: 30rem;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgba(23, 23, 23, 1);
    padding: 22rem 0;
    width: 245rem;
    height: 55rem;
    border-radius: 5rem;
    border: 1rem solid rgba(23, 23, 23, 1);
}

.btn-comf {
    font-size: 30rem;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgba(255, 255, 255, 1);
    background: rgba(23, 23, 23, 1);
    padding: 22rem 0;
    width: 245rem;
    height: 55rem;
    border-radius: 5rem;
}

.batn {
    display: flex;
    justify-content: center;
    gap: 20rem;
    padding: 40rem 0 60rem 0;
}

.comment {
    padding-top: 30rem;
}

.kilkist .kitp {
    font-weight: 500;
    font-size: 14rem;
}

.method label {
    display: flex;
    justify-content: center;
}

.method {
    display: grid;
    align-items: center;
    grid-template-columns: repeat(1, 1fr);
    gap: 20px;
}

.metodspa {
    width: 100%;
    border: 1px solid #d9d9d9;
    border-radius: 6px;
    display: flex;
    align-items: center;
    padding: 20rem 20rem;
    cursor: pointer;
}

.inpmet {
    width: 18px;
    height: 18px;
}

.metspan {
    padding: 0 0 0 10rem;
    font-size: 18rem;
}

.metodspa:has(input:checked) {
    border: 1px solid #171717;
}





@media screen and (min-width:426px) {

    .iphon,
    .sp {
        display: block;

    }

    .iphon17top {
        width: 50vw;
    }

    .PlayStation {
        grid-row: 1/2;
        grid-column: 1/3;
    }

    .AirPods {
        grid-column: 1/2;
        grid-row: 2/2;
        border: none;
    }

    .visionpro {
        grid-row: 2/3;
        grid-row: 2/2;
        border: none;
    }

    .Macbook {
        grid-column: span 2;
        grid-row: 3/3;
        border: none;
    }

    .info {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(3, 1fr);

    }

    .close {
        position: absolute;
        right: -45%;
        top: 0;
    }

    .categ {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        padding: 37rem 0 0 0;
    }

    .catalog {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 20rem;
    }

    .imageair,
    .imagevis {
        width: 100px;
    }

    .foniph,
    .fonipa {
        display: none;
    }
}

@media screen and (min-width:600px) {
    .infocon {
        display: grid;
        grid-template-columns: 1fr 2fr;
        gap: 40px;
        width: 100%;
        max-width: 1140rem;
        align-items: center;
        padding: 30rem 0 100rem 0;
    }

    .textinfo {
        display: block;
    }

    .blog {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 20rem;
        padding: 0 0 100rem 0;
        width: 100%;
        max-width: 1140rem;
    }

    .dost-con {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 20rem;
        padding-bottom: 30rem;
    }

    .formname {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 20rem;
        padding-bottom: 25rem;
    }

    .method {
        display: grid;
        align-items: center;
        grid-template-columns: repeat(3, 1fr);
        gap: 20px;
    }

    .btn-comf,
    .btn-back {
        width: 270rem;
    }

    .textarea {
        width: 94%;
    }
}

@media screen and (min-width:728px) {

    .blog {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 20rem;
        padding: 0 0 100rem 0;
        width: 100%;
        max-width: 1140rem;
    }

    .vibor {
        position: static;
        width: 100%;
        background-color: transparent;
        overflow: visible;
        padding: 0;
    }

    .cance {
        display: none;
    }

    .cata-log {
        grid-template-columns: repeat(3, 1fr);
    }

    .filter {
        display: grid;
        grid-template-columns: 20% 80%;
        gap: 20px;
    }

    .menu {
        position: static;
        width: 500rem;
        height: 50rem;
        background-color: none;
        display: flex;
        flex-direction: row;
        font-size: 20rem;
        align-items: center;
        background-color: white;

    }

    .fil {
        display: none;
    }

    .burger,
    .cancel {
        display: none;
    }

    .foniph,
    .fonipa {
        display: block;
    }

    .foniph img {
        display: block;
        width: 100%;
        max-width: 500rem;
    }

    .fonipa img {
        display: block;
        width: 100%;
        max-width: 500rem;
    }

    .prod {
        display: flex;
        flex-direction: row;
        width: 100%;
        max-width: 850rem;
        align-items: center;
        justify-content: space-between;
        background-color: #F1F1F1;
        border-radius: 8px;
        padding: 30rem;
    }
}

@media screen and (min-width:768px) {
    .towbask {
        display: grid;
        grid-template-columns: 60% 40%;
    }

    .crest {
        position: absolute;
        left: 93%;
        top: 10%;
    }

    .whyme {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }

    .aboutus {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 71rem;
        padding: 0 0 100rem 0;
    }

    .menu {
        position: static;
        width: 500rem;
        height: 50rem;
        background-color: none;
        display: flex;
        flex-direction: row;
        font-size: 20rem;
        align-items: center;
    }

    .menu a {
        border: none;
        font-size: 27rem;
    }

    .burger,
    .cancel {
        display: none;
    }

    .aboutus img {
        width: 100%;
    }

    .catalog {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 20rem;
    }

    .produckt {
        display: grid;
        grid-template-columns: 1fr 40%;
        gap: 20px;
    }
}




@media screen and (min-width:1024px) {

    .sp {
        display: block;
    }

    .close {
        right: -30%;
    }

    .name {
        height: 90vh;
    }

    .PlayStation {
        grid-row: 1/2;
        grid-column: 1/3;
    }

    .AirPods {
        grid-column: 1/2;
        grid-row: 2/2;
        border: none;
    }

    .visionpro {
        grid-row: 2/3;
        grid-row: 2/2;
        border: none;
    }

    .Macbook {
        grid-column: span 2;
        grid-row: 1/3;
        border: none;
    }

    .info {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(2, 1fr);

    }

    .iphon {
        display: block;
    }

    .catalog {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 20rem;
    }

    .textps,
    .textvis,
    .textair,
    .textmac {
        display: flex;
        flex-direction: column;
    }

    .categ {
        display: grid;
        grid-template-columns: repeat(6, 1fr);
        padding: 37rem 0 0 0;
    }

    .main-catalog {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 60rem;
        color: rgba(255, 255, 255, 1);
        background-color: #2D2D2D;
        font-size: 20rem;
    }

    .main-catalog svg {
        display: block;
    }

    .li {
        border-right: 1rem solid #fff;
        padding: 0 30rem 0 0;
    }

    html {
        font-size: .7px;
    }

    .foniph,
    .fonipa {
        display: block;
    }

    .texwin {
        display: flex;
        z-index: 1;
        flex-direction: column;
        align-items: center;
    }

    .social img {
        width: 100%;
        max-width: 26px;
    }

    .burger,
    .cancel {
        display: none;
    }

    .menu {
        position: static;
        width: 500rem;
        height: 50rem;
        background-color: none;
        display: flex;
        padding: 0 15rem;
        flex-direction: row;
        font-size: 20rem;
    }

    .menu a {
        border: none;
        font-size: 20px;
    }

    .foniph img {
        width: 100%;
        max-width: 600rem;
    }
}

@media screen and (min-width:1440px) {
    html {
        font-size: .8px;
    }

    .close {
        right: -25%;
    }

    .pricemin {
        display: flex;
        flex-direction: row;
    }

    .crest {
        position: absolute;
        left: 95%;
        top: 10%;
    }

    .svgforn {
        left: 92%;
        top: 65%;
    }
}

@media screen and (min-width:1900px) {
    html {
        font-size: 1px;
    }

    .iphon17top,
    .sp {
        width: 800rem;
    }

    .close {
        right: -25%;
    }

    .li svg {
        width: 20px;
        height: 40px;
    }

    .imageair {
        max-width: 200rem;
        width: 100%;
    }

    .imagevis {
        max-width: 200rem;
        width: 100%;
    }

    .sociall img {
        width: 30rem;
        height: 30rem;
    }

    .socialm img {
        width: 60px;
    }

    .foot-logo img,
    .logo img {
        max-width: 400px;
        width: 100%;
    }

    .logo img {
        max-width: 400px;
        width: 100%;
    }

    .menu {
        display: flex;
        width: 800px;
        gap: 20rem;
    }

    .menu {
        position: static;
    }

    .menu a {
        font-size: 30rem;
    }

    .foniph {
        width: 100%;
        max-width: 550rem;
    }

    .fonipa {
        max-width: 300rem;
    }

    .colip img {
        width: 40rem;
    }

    .img img {
        width: 100%;
    }

    .aboutus {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 40rem;
        padding: 0 0 100rem 0;
    }
}